<div class="login-page">
    <div class="content px20">

        <form id="login" class="login-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
           
            <div>
                <h2 class="app-name">{{applicationName}}</h2>
            </div>

            <section class="fields">
                <h2>Reset Password</h2>
                <br />
                <h4>To reset your password, please provide your registered email.</h4>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error class="error-message" *ngIf="data.email.invalid">
                            <span *ngIf="data.email.errors?.required">Email is required</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div id="server-alert" *ngIf="message" class="alert alert-danger w-100">
                    <span>
                        {{ message }}
                    </span>
                </div>
            </section>

            <section class="submit">
                <div class="d-flex justify-content-between align-items-center">
                    <div [style.visibility]="waiting ? 'visible' : 'hidden'" class="spin-container animation-spin">
                        <mat-icon aria-label="loading" color="primary" class="x2">autorenew</mat-icon>
                    </div>
                    <button mat-flat-button type="submit" class="login-btn" [disabled]="waiting" color="primary">Send
                        Reset Instructions</button>
                </div>
            </section>

        </form>

    </div>
</div>