<div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="space-around stretch" fxLayout.lt-sm="column">

    <app-user-statistics fxFlex="0 1 100%" fxFlex.lt-md="0 1 100%" fxFlex.lt-sm="100%"></app-user-statistics>

    <app-brand-reputation fxFlex="0 1 50%" fxFlex.lt-md="0 1 50%" fxFlex.lt-sm="100%"></app-brand-reputation>

    <app-promotion-info fxFlex="0 1 50%" fxFlex.lt-md="0 1 50%" fxFlex.lt-sm="100%"></app-promotion-info>

    <app-terms-and-conditions-editor fxFlex="0 1 50%" fxFlex.lt-md="0 1 50%" fxFlex.lt-sm="100%"
        style="margin-top: 10px;">
    </app-terms-and-conditions-editor>

    <app-brand fxFlex="0 1 50%" fxFlex.lt-md="0 1 50%" fxFlex.lt-sm="100%" style="margin-top: 10px;"></app-brand>

</div>