<section id="userlist" class="promocodes">

    <div fxLayout="row" fxLayoutAlign="end" class="padd-10">

        <mat-form-field>
            <input matInput placeholder="Search" #input>
        </mat-form-field>

    </div>

    <mat-table class="w-100" [dataSource]="dataSource" matSort matSortDirection="asc" matSortDisableClear>

        <ng-container matColumnDef="promoCodeNumber">
            <mat-header-cell mat-sort-header *matHeaderCellDef>PromoCodeNumber</mat-header-cell>
            <mat-cell *matCellDef="let promocode">
                <a fxFlexFill [routerLink]="'/promocodes/'+promocode.promoCodeNumber" class="mat-row-link">
                    {{promocode.promoCodeNumber}}</a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="batchName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>BatchName</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let promocode">{{promocode.batchName}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="brandName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>BrandName</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let promocode">{{promocode.brandName}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="loyaltyPoints">
            <mat-header-cell mat-sort-header *matHeaderCellDef>LoyaltyPoints</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let promocode">{{promocode.loyaltyPoints}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="expirationDateTime">
            <mat-header-cell mat-sort-header *matHeaderCellDef>ExpirationDateTime</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let promocode">
                <span
                    [ngClass]="{'success-cell-md': promocode.isExpired === false, 'failure-cell-md':  promocode.isExpired === true}">
                    {{promocode.expirationDateTime | date:'mediumDate' }}
                </span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="isScanned">
            <mat-header-cell mat-sort-header *matHeaderCellDef>IsScanned</mat-header-cell>
            <mat-cell *matCellDef="let promocode">
                <span
                    [ngClass]="{'success-cell': promocode.isScanned === true, 'failure-cell':  promocode.isScanned === false}">
                    {{promocode.isScanned === true? 'Yes': 'No' }}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="scannedByUser">
            <mat-header-cell *matHeaderCellDef>Scanned By User</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let promocode">
                <a fxFlexFill [routerLink]="'/userlist/'+promocode.scannedByUserId" class="mat-row-link">
                    {{promocode.scannedByUser}}</a>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

    <div fxLayoutAlign="center" class="padd-10" *ngIf="!(dataSource.page$ | async)">No Record Found</div>

    <mat-paginator [length]="dataSource.page$ | async" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"
        (page)="paginate()"></mat-paginator>
</section>