@import "~src/app/shared/scss/variables";
.mat-nav-list {
    width: 100%;
    a {
        .mat-icon {
            margin-right: 15px;
            color: $primary-color;
        }
        display: block;
    }
}
