<section id="userlist" class="mat-elevation-z8 bg-white promocodes">

    <div fxLayout="row" fxLayoutAlign="end space-around stretch" class="padd-10" fxLayoutGap="10px">

        <mat-slide-toggle [checked]="showDetailedView" class="padd-5" (change)="onToggle($event)">Detailed View
        </mat-slide-toggle>

        <button mat-button class="mat-raised-button mat-primary" (click)="addPromocode()">
            Add Promocode
        </button>

        <button mat-button class="mat-raised-button mat-accent" *ngIf="showDetailedView" (click)="downloadPromocode()">
            Download Promocode
        </button>
    </div>

    <app-promocodes *ngIf="showDetailedView"></app-promocodes>

    <app-batch-promocodes *ngIf="!showDetailedView"></app-batch-promocodes>

</section>